.headings h1{
    color : yellow;
    background-color: black;
}
.headings h2{
    color : black;
    background-color: yellow;
}
.headings h3{
    color : orange;
    background-color: black;
}
.headings h4{
    color : black;
    background-color : orange;
}